/* Container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Gap */
.gapTop {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
}

.gapTopInner {
  width: 100%;
  max-width: 1168px;
  height: 32px;
}

/* Filter */
.filter {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterInner {
  width: 100%;
  max-width: 1168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 0;
}

.selectWidth {
  width: 120px;
}

/* Gap */
.gapMiddle {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
}

.gapMiddleInner {
  width: 100%;
  max-width: 1168px;
  height: 42px;
}

/* Main */
.main {
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainInner {
  width: 100%;
  max-width: 1168px;
  min-height: 120px;
  display: block;
  border: none;
  border-radius: 8px;
  background: var(--gray-white);
  padding: 12px;
}

/* Mobile responsive design */
@media (max-width: 767px) {
  .mainInner {
    padding: 0 20px;
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 640px;
  justify-content: center;
  row-gap: 32px;
}

.card {
  width: 640px;
  height: 640px;
  background: var(--cool-gray-01);
  border: none;
  border-radius: 24px;
  overflow: hidden;
}

/* Mobile responsive design */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 280px;
    row-gap: 32px;
  }

  .card {
    width: 280px;
    height: 280px;
    border-radius: 24px;
  }
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

/* Skeleton Animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  width: 100%;
  height: 100%;
  background: #e5e7eb;
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 40%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: shimmer 0.8s linear infinite;
  filter: blur(1px);
}
